footer
  .container
    | © 2015 British Council
    br
    | The United Kingdom's international organisation for cultural relations and educational opportunities.
    br
    | A registered charity: 209131 (England and Wales) SC037733 (Scotland).
  //- container
//- footer
